body{
	text-align: center;
	background-color: #D72638;
	color: #ffffff;
}

div{
	margin-top: 50px;
}

a{
	color: #FBD8C5;
	text-decoration: none;
	font-size: 30px;
}

.jSlots-wrapper {  
    overflow: hidden; /* to hide the magic */  
    height: 40px; /* whatever the height of your list items are */  
    display: inline-block; /* to size width correctly, can use float too, or width*/  
    border: 1px solid #999;  
}  

ul {
 list-style: none;
}

li{
	font-size: 30px;
}