body{
	text-align: center;
	background-color: #D72638;
	color: #ffffff;
}

div{
	margin-top: 50px;
}



a{
	color: #FBD8C5;
	text-decoration: none;
	font-size: 30px;
}

img{
	height: 150px;
	width: 150px;
	border: solid 5px white;
	border-radius: 100%;
}

ul {
 list-style: none;
}


.header{	
	background: red;
}

.appName{
	float: left;
	font-size: 30px;
}

.headerLinks{
	float: right;
}

.active{
	color: black;
}

footer{
	margin-top: 50px;
}